.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}


.tteal{
    color: teal;
}
.tred{
    color: red;
}
.tblue{
    color: blue;
}
.torange{
    color: orange;
}
.tpurple{
    color: purple;
}
.tolive{
    color: olive;
}
.tfuchsia{
    color: fuchsia;
}
.tgreen{
    color: green;
}