.enlaces{
    width: 20%;
    position: fixed;
    bottom: 1%;
    border: 3px solid  #0000ff;
    background-color: darkkhaki;
    height: 97%;
    text-align: center;
    
}
.contenido{
    margin-left: 21%;
    width: 78%;
    border: 3px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    
    background-color: antiquewhite;
}
body{
    margin: 0;
}